.footer{
    text-align: center;
    h5{
      color: #FD853A;
      font-family: inter;
      position: relative;
      top: 70px;
      background: none;
      overflow-y: hidden;
      overflow-x: hidden;
    }
    p{
      border: #FD853A solid 1px;
      // width: 1520px;
      position: relative;
      font-family: inter;
      font-weight: bolder;
      padding: 10px 20px;
      margin: 10px 620px;
      top: 80px;
      border-radius: 10px;
      background-color: #FD853A;
      
    }
    .text{
      color: white; margin-left: 770px;
  
    }
   
    img{
      margin-top: -70px;
    }
    .navbar{
      background: none;
      position: relative;
      top: 270px;
    }
    ul, li, a{
      background: none;
      font-size: 16px;
      color: white;
    }
    ul, li, a:hover{
      color: black;
    }
  }
  .footer{
    
    img{
        width: 100%;
        background: none;

    }
    ul{
        margin-left: 50px;
    }

   
}

@media (max-width: 768px) { /* For devices with a screen width of 768px or less */
 
  .footer h5 {
    font-size: 18px; /* Adjust font size */
    top: 50px; /* Reduce top position */
  }

  .footer p {
    margin: 10px 20px; /* Reduce margins for mobile */
    padding: 8px 15px; /* Adjust padding */
    top: 50px; /* Reduce top position */
    width: auto; /* Make it responsive */
  }

  .footer img {
    margin-top: 50px;
  }

  .footer .navbar {
    top: 150px; 
  }

  // .footer ul {
  //   margin-left: 10px; /* Reduce left margin */
  //   display: flex;
  //   // flex-direction: row;
  //   position: relative;
  //   // top: 15px;
  // }

  .footer ul, .footer li, .footer a {
    font-size: 10px; 
 
  }
  // .footer li {
  //   display: flex;
  //   flex-direction: row;
  //   // position: relative;
  //   // top: 15px;
  //   // font-size: 9px;
  //   // margin-left: 4px;
  // }
  .footer .text{
    display: none !important;
    
    

  }
  .email{
    font-size: 14px !important;
  }
  ul li {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    top: 0;
    margin-top: -14px;
  }
}
