<!-- footer -->
<section class=" footer mt-0 ">
    <h5>Want to work together? <br>
      Get in touch.</h5>
      <p><a style="text-decoration: none;" href="mailto:onuohanneoma7@gmail.com">onuohanneoma7@gmail.com</a></p>
  
     <div class="navbar  navbar-expand-lg">
      <ul class="navbar-nav">
        <li><a class="nav-link" href="https://github.com/Marycynthia23">Github</a></li>
        <li><a class="nav-link" href="">LinkedIn</a></li>
        <!-- <li><a class="nav-link" href="">Instagram</a></li>
        <li><a class="nav-link" href="">Medium</a></li> -->
        <li style="color: white; margin-left: 770px;" class="nav-link">Designed by Nneoma Onuoha and coded by Nwafor Opeyemi © 2024 </li>
        
      </ul>
     </div>
      <img src="/assets/images/Vector.png" alt="">
  </section>
  <!-- footer -->
