<app-navbar></app-navbar>
<div class="about">
   <div class="row" style="color: white;">
    <div class="col-md-6  cont1">
        <p class="p1">Hello,</p>
        <h1 class="name">I’m Nneoma Onuoha</h1>
        <p class="p2">I’m Nneoma Onuoha, a talented Front end Developer. I am <br> 
            passionate about leveraging my diverse backgrounds to <br> 
            decipher challenging problems and create delightful <br>
             experiences. I'm skilled at web development. <br><br>
    
            I develop websites with HTML, CSS, JavaScript, React.js and <br>
             Vue.js. I have top skills in using coding softwares like Git and <br>
              Github with frameworks like React, Vue, Nuxt, Bootstrap. <br><br>
            
            Being a creative, hardworking and result oriented lady, I <br> always work towards achieving best result on any project.
            </p>
    </div>
    <div class="col-md-6 cont2">
        <img src="/assets/images/image.svg" alt="">
   </div>
</div>
<app-footer style="position: relative; top: 500px;"></app-footer>
