.p2{
    line-height: 48.5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF9E7;
    font-family: "Inter", sans-serif;
    background: none;
}
.name{
    font-family: "Iceland", sans-serif;
    width: 565px;
    height: 49px;
    color: #FD853A;
    font-size: 55px;
    font-weight: 400;
    line-height: 48.5px;
    background: none;
}
.p1{
    font-family: "Inter", sans-serif;
    color: #FD853A;
    font-weight: 700;
    font-size: 32px;
    line-height: 48.5px;
    background: none;
}
img{
    height: 550px;
}
.cont1{
    position: relative;
    top: 300px;
    left: 50px;
    background: none;
}
.cont2{
    position: relative;
    top: 100px;
    left: 135.5px;
    background: none;
    width: 0;
}
