/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0C0C0C;
    scroll-behavior: smooth!important;
    
  }
  body{
  overflow-x: hidden;
  // border: none;
    // background-color: #0C0C0C;
    // max-width: 1600px;

}
// body.light-mode {
//     background-color: white;
//     color: black;
//   }
  
//   body.dark-mode {
//     background-color: black;
//     color: white;
//   }
  
  .navbar.light-mode {
    background-color: #f8f9fa;
  }
  
  .navbar.dark-mode {
    background-color: #343a40;
  }
.notfixed{
    position: static;
    transition: 0.3s linear;
    // top: -50px;
    height: 17vh;
    
}

.fixed{
    position: fixed;
    top: 0;
    // background-color: #333;
    width: 100%;
    z-index: 9999;
    transition: 0.3s linear;
    height: 15vh;
    // margin-top: 20px;
}
@media (max-width: 768px){
 
  .fixed{
  display: none;
    // margin-top: 20px;
}
.notfixed{
  display: none;
  
}
}

